@use '../../../abstract/media_queries' as mq;

.hero_section{
  background-color: #ffeb13;
  height: 650px;
  position: relative;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  &_heading{
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    color: #1a46f6;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_tamil{
      font-size: 15.5rem;
      position: relative;
      pointer-events: none;

      @include mq.responsive('xl')
      { 
        font-size: 14rem;
      }
      @include mq.responsive('lg')
      { 
        font-size: 13rem;
      }
      @include mq.responsive('md')
      { 
        font-size: 10rem;
      }
      @include mq.responsive('xs')
      {
        font-size: 10rem;
      }

      &_est{        
        position: absolute;
        top: 0;
        left: -70px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: red;
        color: white;
        border-radius: 20px;
        z-index: -1;
        transform: rotate(-30deg);

        @include mq.responsive('xl')
        { 
          top: 0px;
          left: -65px;
        }
        @include mq.responsive('md')
        { 
          top: -10px;
          left: -50px;
        }
        @include mq.responsive('xs')
        {
          top: -30px;
          left: -10px;
          transform: rotate(-15deg);
        }

        &_since{
          font-family: 'Nothing You Could Do', cursive;
          text-transform: uppercase;
          font-size: 1rem;

          @include mq.responsive('xl')
          { 
            font-size: 0.9rem;
          }
          @include mq.responsive('md')
          { 
            font-size: 0.8rem;
          }
          @include mq.responsive('xs')
          {
            font-size: 0.8rem;
          }
        }

        &_year{
          font-size: 3rem;

          @include mq.responsive('xl')
          { 
            font-size: 2.25rem;
          }
          @include mq.responsive('lg')
          { 
            font-size: 2.5rem;
          }
          @include mq.responsive('md')
          { 
            font-size: 2rem;
          }
          @include mq.responsive('xs')
          {
            font-size: 1.8rem;
          }
        }
      }
    }

    &_mandram{
      font-size: 9rem;
      margin-top: -4.5rem;
      position: relative;
      pointer-events: none;

      @include mq.responsive('xl')
      { 
        font-size: 8rem;
        margin-top: -3.5rem;
      }
      @include mq.responsive('lg')
      { 
        font-size: 7rem;
        margin-top: -3.5rem;
      }
      @include mq.responsive('md')
      { 
        font-size: 7rem;
        margin-top: -3.5rem;
      }
      @include mq.responsive('xs')
      {
        font-size: 5.5rem;
        margin-top: -3rem;
      }

      &_arrow{
        position: absolute;
        aspect-ratio: 368/113;
        width: 6rem;
        right: -60px;
        top: 80px;
        transform: rotate(-90deg);

        @include mq.responsive('xl')
        { 
          width: 5.5rem;
          right: -55px;
          top: 70px
        }
        @include mq.responsive('lg')
        { 
          width: 5rem;
          right: -50px;
          top: 60px
        }
        @include mq.responsive('md')
        { 
          width: 4.5rem;
          right: -45px;
          top: 60px
        }
        @include mq.responsive('xs')
        {
          width: 4rem;
          right: -40px;
          top: 50px
        }
      }
    }

    &_desc{
      font-family: 'Space Mono', sans-serif;
      font-size: 1.1rem;
      pointer-events: none;
      text-align: center;

      @include mq.responsive('xl')
      {
        margin-top: 1.5rem;
      }
      @include mq.responsive('md')
      {
        font-size: 0.9rem;
        margin-top: 1rem;
      }
      @include mq.responsive('xs')
      {
        font-size: 0.9rem;
        margin-top: 1rem;
      }
    }
  }

  &_snail{
    position: absolute;
    left: 1.5%;
    top: 36%;
    aspect-ratio: 368/262;

    @include mq.responsive('xl')
    {
      width: 17rem;
      top: 40%;
    }
    @include mq.responsive('lg')
    {
      display: none;
    }
  }

  &_butterfly{
    position: absolute;
    right: 1.5%;
    top: 30%;
    aspect-ratio: 368/262;

    @include mq.responsive('xl')
    {
      width: 17rem;
      top: 33%;
    }
    @include mq.responsive('lg')
    {
      display: none;
    }
  }

  &_heart{
    aspect-ratio: 368/375;
    width: 4rem;
    position: absolute;
    left: 18.75%;
    bottom: 72%;

    @include mq.responsive('xl')
    {
      width: 3.5rem;
      top: 20%;
      left: 13%;
    }
    @include mq.responsive('lg')
    {
      width: 4rem;
      top: 10%;
      left: 75%;
    }
    @include mq.responsive('md')
    {
      width: 3.5rem;
    }
    @include mq.responsive('sm')
    {
      width: 3rem;
      top: 10%;
      left: 75%;
    }
    @include mq.responsive('xs')
    {
      display: none;
    }
  }

  &_number_one{
    aspect-ratio: 368/338;
    width: 4rem;
    position: absolute;
    right: 26%;
    top: 15%;    

    @include mq.responsive('xl')
    {
      width: 3.5rem;
      top: 15%;
      right: 20%
    }
    @include mq.responsive('lg')
    {
      width: 4rem;
      top: 55%;
      right: 85%
    }
    @include mq.responsive('md')
    {
      width: 3.5rem;
    }
    @include mq.responsive('sm')
    {
      display: none;
    }
  }
}