.admin_reg_section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  position: relative;

  &_err{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ffeb13;
  }

  &_form{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}