.announcement_section{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  padding-bottom: 5rem;

  &_img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
  }

  &_error{
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }
}