@use "../../abstract/media_queries" as mq;

.announcement_section{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  padding-bottom: 5rem;

  &_loading{
    margin-top: 5rem;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }

  &_img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
  }
  &_title{
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }
  &_desc{
    margin-top: 2rem;
    padding: 0 6rem;
    font-family: 'Space Mono', sans-serif;
    font-size: 1.2rem;
    text-align: center;

    @include mq.responsive('xs')
    {
      font-size: 1rem;
      padding: 0 2rem;
      margin-top: 1rem;
    }
  }
  &_points{
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 1rem 4rem;

    @include mq.responsive('xs')
    {
      padding: 1rem 2rem;
    }

    li{
      padding: 2rem 0;
      font-family: 'Space Mono', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;

      @include mq.responsive('xs')
      {
        font-size: 1.1rem;
        font-weight: 600;
        padding: 1rem 0;
      }
    }      
  }
  &_update_date{
    font-family: 'Space Mono', sans-serif;
  }  

  &_error{
    margin-top: 5rem;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }
}